header{
    float:right;
    width: 81%;
}

header img {
    width: 70px;
    float: left;
}

header .name-header {
    font-size: 26px;
    margin-left: 5px;
    font-weight: bold;
}

.name-navigate{
    color: black;
    text-align: center;
}

aside {
    float:left;
    background: #E6E6E6;
    width: 20%;
    padding: 2,5%;
    min-height: 100vh;
    color: #fff;
    border-right: 5px solid #A1A1A1;
    position: fixed;
}

aside ul li:hover{
    transform: scale(1.02);
}

aside .name-navigate{
    text-align: center;
    margin-top: 20px;
}

body .first-paragraph img {
    width: 900px;
    margin: 10px 450px 10px;
}

body .first-paragraph h1{
    text-align: center;
    padding-left:300px;
}

table{
    margin: 10px 760px 10px;
    width: 300px;
    height: 800px;
}

table td{
    text-align: center;
    border-right: 3px double #A1A1A1;
    border-left: 3px double #A1A1A1;
    border-top: 3px double #A1A1A1;
    border-bottom: 3px double #A1A1A1;
}

table th {
    background: #C0C0C0;
    text-align: center;
    border-right: 3px double #A1A1A1;
    border-left: 3px double #A1A1A1;
    border-top: 3px double #A1A1A1;
}

table .u-table-cell-f{
    background: #DCDCDC;
}

table .u-table-cell-s{
    background: #D3D3D3;
}

body .1cDevGraphsC{
    width: 900px;
    margin: 10px 450px 10px;
}

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #E6E6E6;
  border-top: 5px solid #A1A1A1;
  text-align: right;
}