aside {
    float:left;
    background: #E6E6E6;
    width: 20%;
    padding: 2,5%;
    height: 100vh;
    color: #fff;
    border-right: 5px solid #A1A1A1;
}

header img {
    width: 80px;
    float: left;
}

header .name-header {
    font-size: 26px;
    margin-left: 5px;
    font-weight: bold;
}

aside ul li:hover{
    transform: scale(1.02);
}

body .first-paragraph {
    float:left;
    text-align: center;
    width: 75%;
    margin: auto 20px;
}

body .first-paragraph img {
    width: 400px;
    float: center;
}