aside {
    float:left;
    background: #E6E6E6;
    width: 20%;
    padding: 2,5%;
    min-height: 100vh;
    color: #fff;
    border-right: 5px solid #A1A1A1;
    position: fixed;
}

header img {
    width: 70px;
    float: left;
}

header .name-header {
    font-size: 26px;
    margin-left: 5px;
    font-weight: bold;
}

aside ul li:hover{
    transform: scale(1.02);
}

body .first-paragraph {
    float:left;
    text-align: left;
    margin: auto 20px;
    padding-left:300px;
}

body .first-paragraph img {
    width: 400px;
    margin: 10px 380px 10px;
}

body .first-paragraph h1{
    text-align: center;
}