{% load static %}

<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="navigation"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Главная страница</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'main/css/main.css' %}">
</head>
<body>
  <header class="d-flex flex-wrap justify-content-center py-3 bg-light">
    <a href="" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none">
      <svg class="bi pe-none me-2" width="26" height="48"><use xlink:href="#bootstrap"></use></svg>
      <img src="{% static 'main/img/logo.png' %}" alt="logo">
      <span class="name-header">1С-Разработчик</span>
    </a>
  </header>
  <aside>
    <ul class="nav nav-pills flex-column">
      <li class="nav-item">
        <a href="/" class="nav-link active" aria-current="page">
          <svg class="bi pe-none me-2" width="16" height="26"><use xlink:href="#home"></use></svg>
          Главная страница
        </a>
      </li>
      <li>
        <a href="/demand" class="nav-link link-dark">
          <svg class="bi pe-none me-2" width="16" height="26"><use xlink:href="#table"></use></svg>
          Востребованность
        </a>
      </li>
      <li>
        <a href="/geography" class="nav-link link-dark">
          <svg class="bi pe-none me-2" width="16" height="26"><use xlink:href="#grid"></use></svg>
          География
        </a>
      </li>
      <li>
        <a href="/skills" class="nav-link link-dark">
          <svg class="bi pe-none me-2" width="16" height="26"><use xlink:href="#people-circle"></use></svg>
          Навыки
        </a>
      </li>
      <li>
        <a href="/latestVacancies" class="nav-link link-dark">
          <svg class="bi pe-none me-2" width="16" height="26"><use xlink:href="#people-circle"></use></svg>
          Последние вакансии
        </a>
      </li>
    </ul>
  </aside>
  <div class="first-paragraph">
    <h1>Кто такой 1С Разработчик</h1>
    <img src="{% static 'main/img/1cDev.png' %}" alt="1cDev">
    <p>Каждое предприятие должно вести учёт для того, чтобы успешно работать и планировать свою стратегию развития.
       Учёт доходов и расходов, количества проданной продукции, остатков в запасе, расчёт заработной платы сотрудникам,
       расчёт налогов и взносов — все это лишь малая неотъемлемая часть любого бизнеса. Кто-то ведёт такой учёт письменно
       на бумаге или в заметках, другие ведут таблицы Excel, а есть те, кто использует системы автоматизированного учёта.
    </p>
    <p>
      К таким системам и относится продукция 1С, и является самой популярной системой автоматизированного учёта в России.
      Более 80% компаний в России работают в 1С.
    </p>
    <p>
      Каждое решение заточено под определённые задачи, однако часто программы и сервисы работают в связке. В этом случае
      важно правильно настроить обмен между базами, чтобы информация корректно передавалась. Все эти программы и сервисы
      нужно постоянно поддерживать — следить за работоспособностью, обновлять и устранять технические неполадки. Довольно
      часто встречаются ситуации, когда компании необходимо "доделать" программу под себя и внедрить индивидуальные доработки
      в готовую конфигурацию. Именно в этих случаях в работу вступает программист 1С.
    </p>
    <h1><br>Для чего в компании нужны программисты 1С</h1>
    <p>
      <br>
      • поддержки и настройки ПО продуктов 1С разных версий;
      <br>
      • администрирования и разработки нестандартных конфигураций 1С;
      <br>
      • администрирования конфигураций ПО, созданных на основе 1С;
      <br>
      • диагностики системы для поиска ошибок и их исправления.
      <br>
      <br>
      Другими словами, специалист обеспечивает нормальную работу и развитие платформы 1С, что делает бизнес и работу на
      предприятиях более продуктивным. То есть, программист 1С нужен для настройки платформы под функции бизнеса. Также
      обычно программист 1С совмещает обязанности программиста и системного администратора в одном лице.
    </p>
    <p>
      Чтобы быть востребованным в сфере 1С, программист должен постоянно учиться и развиваться. Чтобы подтвердить квалификацию
      специалистов, компания «1С» проводит сертификацию. Выдавая сертификаты, она ручается перед своими заказчиками и
      потребителями, что специалист достаточно обучен и умеет работать с продуктами. Любой толковый работодатель это понимает,
      поэтому сертификаты дают преимущества при приёме на работу и могут стать основанием для повышения сотрудника.
    </p>
    <img src="{% static 'main/img/2cDev.png' %}" alt="2cDev">
  </div>
</body>
</html>